<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
<!--
    We use 'ce' as prefix for the uid to ensure unique id attributes,
    as 'c' is already set in the default content element's frame wrapper.

    This must of course match the id attribute in the 'Header.html' partial.
-->
</f:comment>

<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{content}">
        <ul>
            <f:for each="{content}" as="element">
                <li>
                    <a href="#ce{element.data.uid}">
                        {element.data.header}
                    </a>
                </li>
            </f:for>
        </ul>
    </f:if>

</f:section>
</html>
